**/node_modules
**/.next
**/.turbo
**/dist
**/storybook-static
**/.DS_Store
**/*.tsbuildinfo

.git
.github
.vscode
.idea

*.env
*.env.*
.env
.env.*

plan.md
plan-later.md
README.md
CHANGELOG.md
LICENSE

.gitignore
.dockerignore
